/* contenedor */

#mapa {
  max-width: 900px;
  margin: auto;
}

/* svg responsive */

#mapa3 svg {
  width: 100%;
  height: auto;
}

/* regiones */

.region {
  fill: #d9d9d9;
  stroke: #ffffff;
  stroke-width: 1.5;
  cursor: pointer;
  transition: 0.3s;
}

.region:hover {
  fill: #ff4d4d;
}

/* tooltip */

#tooltip {
  position: absolute;
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: Arial;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}
.cls-1 {
                fill: #525252;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-1:hover {
                fill: #ff4d4d;
              }

.cls-2 {
                fill: #808080;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-2:hover {
                fill: #002447;
              }

.cls-3 {
                fill: #969696;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-3:hover {
                fill: #345671;
              }

.cls-4 {
                fill: #616161;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-4:hover {
                fill: #06d6a0;
              }

.cls-5 {
                fill: #6e6e6e;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-5:hover {
                fill: #feb249;
              }

.cls-6 {
                fill: #7c7c7c;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-6:hover {
                fill: #ff4d4d;
              }
.cls-7 {
                fill: #898989;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-7:hover {
                fill: #feb249;
              } 
.cls-8 {
                fill: #979797;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-8:hover {
                fill: #feb249;
              }
.cls-9 {
                fill: #a5a5a5;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-9:hover {
                fill: #feb249;
              }
.cls-10 {
                fill: #b4b4b4;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-10:hover {
                fill: #feb249;
              }
.cls-11 {
                fill: #c2c2c2;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-11:hover {
                fill: #ff4d4d;
              }
.cls-12 {
                fill: #d1d1d1;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-12:hover {
                fill: #feb249;
              }
.cls-13 {
                fill: #808080;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-13:hover {
                fill: #feb249;
              }
.cls-14 {
                fill: #969696;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-14:hover {
                fill: #ff4d4d;
              }
.cls-15 {
                fill: #808080;
                stroke-linecap: square;
                stroke-miterlimit: 10;
                stroke-width: 0.72px;
              }

              .cls-15:hover {
                fill: #feb249;
              }
